.header {
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--global-padding-width);
  /* height: 6.6rem; */
  height: 7vh;
  width: 100%;
  background-color: var(--black);
  border-bottom: 8px solid var(--principal-color);
}
.title a{
  font-size: 2.3vh;
  color: var(--white);
}
.menu {
  z-index: 0;
  position: relative;
  height: 29px;
  width: 3rem;
}
.menu:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  margin-bottom: 30%;
  background-color: var(--white);
}
.menu:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  margin-top: 30%;
  background-color: var(--white);
}
.right {
  display: flex;
  align-self: center;
  height: 100%;
}
.right .carrito, .right button {
  width: 2.8rem;
  margin: 1rem;
  background-color: var(--black);
  border: 1px solid white;
  border: none;
  cursor: pointer;
}
.right path{
  color: var(--white);
}
.right p {
  color: white;
  font-size: 3rem;
}
.carrito {
  position: relative;
}
.carrito .count {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  height: 1.8rem;
  min-width: 2rem;
  width: fit-content;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 50%;
  background-color: red;
}

@media (min-width: 560px) {
  .searcherButtonClose {
    position: absolute;
    right: 0;
    margin-right: calc(var(--global-padding-width) + 56px + 28px + 15px);
  }
}
