.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: right;
  height: 93vh;
  background-color: var(--black);
}
.texts {
  position: absolute;
  left: 0;
  margin-top: 32px;
  z-index: 1;
  font-size: 3rem;
  color: var(--white);
  padding: 0 var(--global-padding-width);
}
.texts strong{
  display: block;
  font-size: 4.7rem;
  color: var(--white);
  margin-bottom: 32px;
}
.texts a {
  color: var(--white);
  background-color: var(--principal-color);
  padding: 10px;
  border-radius: 2px;
  font-size: 3rem;
}

.image {
  z-index: 0;
  height: 100vh;
  width: auto;
  opacity: .3;
  object-fit: cover;
  object-position: bottom center;
}

@media (min-width:954px) {
  .texts {
    max-width: 63rem;
  }
  .image {
    opacity: 1;
    height: 60vw;
  }
}
