.content {
  position: relative;
  display: flex;
  align-items: center;
  height: 8vh;
  overflow: hidden;
  background-color: var(--black);
  border-top: 8px solid var(--principal-color);
  border-bottom: 1px solid var(--white)
}
.text {
  width: 6vh;
  position: absolute;
  right: -100vh;
  width: max-content;
  font-size: 5vh;
  color: var(--white);
  font-weight: 700;
  animation: movingText 20s linear infinite;
}
@keyframes movingText {
  to {
    right: 100%;
  }
}
